{% if is_granted('ROLE_ADMIN') %}
 {% set administrator = true %}
{%else%}
{% set administrator = false %}
{%endif%}
<header> 
    <a href="{{path('inicio')}}" > <img id="logo" src="{{asset('bundles/application/images/logoHeader.png')}}"/> </a>

 <div id="topBar" style="">
        <div id="nombre">
            {% if administrator == true %}
                Administrador
            {%else%}
              {{ app.user.nombre }} {{ app.user.apellido }}
            {%endif%}
        </div>   
       <div id="foto" >
            {% if administrator == true %}
                  <img style="width: 60px; height: 60px;" id="imagen" src="{{asset('images/defaultPerfil.png')}}" />  
                
            {%endif%}
            {% if (isProfesor == false) and (administrator == false)  %} 
                {% if app.user.foto == 'defaultPerfil.png'%}
                   <img style="width: 60px; height: 60px;" id="imagen" src="{{asset('images/defaultPerfil.png')}}" />  
                 {%else%}
                 <img style="width: 60px; height: 60px;" id="imagen" src="{{asset('uploads/estudiantes/'~app.user.cedula~'/'~app.user.foto)}}" />  
                 {%endif%}
           {% elseif (isProfesor == true) and (administrator == false) %}
                {% if app.user.foto == 'defaultPerfil.png'%}
                  <img style="width: 60px; height: 60px;" id="imagen" src="{{asset('images/defaultPerfil.png')}}" />  
                 {%else%}
                  <img style="width: 60px; height: 60px;" id="imagen" src="{{asset('uploads/profesores/'~app.user.cedula~'/'~app.user.foto)}}" />     
                 {% endif %}
           {% endif %}
               
        </div>
          <div id="botones" style="" >
            {#OJO el help debe ser distinto para ambos#}
              {% if (isProfesor == false) and (administrator == false)   %} 
                  <a href="#"> <img src="{{asset('bundles/application/images/ayuda.png')}}"  /></a>    
                  <a href="{{path('estudiante_edit',{ 'id': app.user.id })}}">
                  <img src="{{asset('bundles/application/images/editar.png')}}"  /></a>
             {%elseif (isProfesor == true) and (administrator == false)%}
                  <a href="#"> <img src="{{asset('bundles/application/images/ayuda.png')}}"  /></a>    
                  <a href="{{path('profesor_edit',{ 'idProfesor': app.user.id })}}">
                  <img src="{{asset('bundles/application/images/editar.png')}}"  /></a>    
             {% endif %}
              {%if (administrator == true)%}
                 <a href="#"> <img src="{{asset('bundles/application/images/ayuda.png')}}"  /></a>    
              {%endif%} 
                 <a data-toggle="modal" data-target="#myModal"><img src="{{asset('bundles/application/images/salir.png')}}"  /></a>
         </div>
      </div>
</header>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <span class="spanCerrarSesion">¿Cerrar sesión?</span>
            </div>
            <div class="modal-footer">
                <a id="noClose" data-dismiss="modal" > No</a>
                <a id="yesClose" href="{{ path('logout') }}">Si</a>
            </div>
        </div>
    </div>
</div>