{# empty Twig template #}
{% extends '::base.html.twig'%}
{% set isProfesor = true %}
{% block title %}Crear Portafolio{% endblock %}

{% block stylesheets %}
<link href="{{ asset('bundles/estudiante/css/normalize.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/estudiante/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/application/css/headerAndFooter.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/application/css/menuPortafolioProfesor.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/profesor/css/crearPortafolio.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block body %}

{% include '::header.html.twig' %}
{% include 'ProfesorBundle:Default:navProfesor.html.twig' %}

{% for flashMessage in app.session.flashbag.get('warning') %}
    <div id="myAlert" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">x</span><span class="sr-only"></span></button>
          <strong>{{ flashMessage }}</strong> 
    </div>
{% endfor %}

<section id="seccionCrearPortafolio">
    <h2>Crear Portafolio</h2>
    <hr>
    <form action="{{ path('crear_portafolio')}}" method="post"  >
      
       <span>Tipo de portafolio: </span> {{ form_widget(formulario.tipo, { 'attr': {'placeholder':'Tipo', 'title':'Tipo de portafolio', 'class': 'listaMaterias'} }  ) }}
       {{ form_errors(formulario.tipo) }} <br>
       <span>Fecha de cierre:</span>{{ form_widget(formulario.fechaCierre, { 'attr': {'placeholder':'Fecha de cierre','placeholder':'Fecha de cierre', 'title':'Fecha de cierre', 'class': 'texto'} }  ) }}
       {{ form_errors(formulario.fechaCierre) }} <br>
      
       <span>Sección:</span> {{form_widget(formulario.seccion , {'attr': {'style':'margin-top:1em'}} )}}
     <br><br>
    
        
        {{ form_errors(formulario.seccion) }}
        <button id="boton" type="submit" class="btn btn-success" >Guardar</button>
          {{ form_rest(formulario) }}
    </form>


</section>



{% endblock %} 



{% block javascripts %}
<script src="{{ asset('bundles/estudiante/js/jquery2.1.1.js') }}"></script>
<script src="{{ asset('bundles/estudiante/js/bootstrap.js') }}"></script>



{% endblock %}




