{# empty Twig template #}
{% extends '::base.html.twig'%}
{% set isProfesor = true %}
{% block title %}Preguntas A Calificar{% endblock %}

{% block stylesheets %}
<link href="{{ asset('bundles/estudiante/css/normalize.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/estudiante/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/application/css/headerAndFooter.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/application/css/menuPortafolioProfesor.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/profesor/css/portafolioProfesor.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/profesor/css/alertCustomize.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block body %}

{% include '::header.html.twig' %}
{% include 'ProfesorBundle:Default:navProfesor.html.twig' %}
{% include 'ProfesorBundle:Default:menuVerPortafolioEstudiante.html.twig' %}

{% for flashMessage in app.session.flashbag.get('warning') %}
<div id="myAlert" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">x</span><span class="sr-only"></span></button>
    <strong>{{ flashMessage }}</strong> 
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('notice') %}
<div id="myAlert" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">x</span><span class="sr-only"></span></button>
    <strong>{{ flashMessage }}</strong> 
</div>
{% endfor %}

    
<section id="contenidoPortafolio">
    <h2>Preguntas a calificar</h2>
    <hr style="border: 0; height: 5px; box-shadow: inset 0 12px 12px -12px #1ea3e1;">
     
    {% for pregunta in preguntas %}
 {#e.id as idExamen, e.titulo, exp.id as idExamenPortafolio, h.estudianteSeccion as idEstudianteSeccion #}
     
     <li style="margin-left: 3em; list-style-type: none"> <a title="Ver preguntas" href="{{path('finalizar_correccion_examen',
       { 'idHistoricoExamen':idHistoricoExamen,
        'idExamenPortafolio':idExamenPortafolio,
        'idEstudianteSeccion':idEstudianteSeccion,
        'idPregunta':pregunta.id})}}" > 
       <span style="width: 1em; visibility: hidden; ">{{pregunta.titulo}}</span> </a>
        <a title="Editar Calificación" style="float:right; margin-right: 1em " href="" > <img id="logo" src="{{asset('bundles/application/images/edicionIcon.png')}}"/> </a>
                  
      </li> 
     <hr style="margin-left: -2.8em">
    
{% endfor %}
     

</section>

{% endblock %} 



{% block javascripts %}
<script src="{{ asset('bundles/estudiante/js/jquery2.1.1.js') }}"></script>
<script> 

    $(function(){
      var valor;
       $("#contenidoPortafolio li a span ").each(function(){
          valor= $(this).text();
          $(this).html(valor);
          $(this).css("visibility", "visible");
          //alert(valor);
           
       });          
});

</script>
<script src="{{ asset('bundles/estudiante/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="{{ asset('bundles/profesor/js/dialogo.js') }}"></script>
<script src="{{ asset('bundles/profesor/js/grupoFunctions.js') }}"></script>

{% endblock %}




