{# empty Twig template #}
{% extends '::base.html.twig'%}
{% set isProfesor = true %}
{% block title %}Vista Previa Respuestas{% endblock %}

{% block stylesheets %}
<link href="{{ asset('bundles/estudiante/css/normalize.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/estudiante/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/profesor/css/examenes.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/application/css/headerAndFooter.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/profesor/css/alertCustomize.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/application/css/menuPortafolioProfesor.css') }}" rel="stylesheet" type="text/css" />


{% endblock %}

{% block body %}

{% include '::header.html.twig' %}
{% include 'ProfesorBundle:Default:navProfesor.html.twig' %}

<div id="dialog" style="visibility: hidden;  position: absolute; top:6.4em;  right: 4em;" class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">x</span><span class="sr-only"></span></button>
          <strong>¡Respuesta Eliminada!</strong> 
    </div>

{% for flashMessage in app.session.flashbag.get('notice') %}
<div id="myAlert" id="myAlert" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">x</span><span class="sr-only"></span></button>
    <strong>{{ flashMessage }}</strong> 
</div>
{% endfor %}

<form method="link" action=" {{path('respuestas', {'idExamen': pregunta.examen.id,'idPregunta':pregunta.id})}} " > 
   <button id ="bAddRespuesta" type="submit" class="btn btn-danger" >Añadir Respuesta </button>
 </form>


<section id="recuadroPrevRespuestas"> 
    <h2>Respuestas creadas</h2> 
    <hr style=" margin-left: -2em;width: 63.8em;border: 0; height: 5px; box-shadow: inset 0 12px 12px -12px #1ea3e1;">
  
    <span id="pregunta" style="visibility:hidden">{{pregunta.titulo}}</span>
    <span id="nota" style="visibility:hidden">({{pregunta.calificacion}} pts)</span><br><br>
   
  
    <span>Opcion(es): </span>


{% for respuesta in respuestas %}
{# ... #}
    
    <li style="margin-left: 5em; list-style: none; text-decoration: none"><span style="visibility:hidden">{{respuesta.contenido}} </span>
    <div id="actions" style="visibility:hidden"><a title="Eliminar pregunta" style="float:right; margin-right: 2em;" onclick="alertDGC('Eliminar Respuesta','prompt','deleteRespuesta','0',{{pregunta.id}},{{respuesta.id}});" > <img id="logo" src="{{asset('bundles/application/images/trash.png')}}"/> </a>
    <a title="Editar respuesta" style="float:right; " href="{{path('editar_respuesta',{'idRespuesta':respuesta.id})}}" > <img id="logo" src="{{asset('bundles/application/images/edicionIcon.png')}}"/> </a>
        {%if respuesta.validacion == 1 %}
           <img title="Respuesta Correcta" style="float:right;" id="logo" src="{{asset('bundles/application/images/correcto.png')}}"/>
       {%else%}
          <img title="Respuesta Incorrecta" style="float:right;" id="logo" src="{{asset('bundles/application/images/incorrecto.png')}}"/>
      {%endif%}
            <p style="float:right;">({{respuesta.puntaje}} pts) </p> 
    </div>
     </li>
        
   
     
      <br>
  
{% endfor %} 
    
   <form method="link" action=" {{path('preguntas', {'id': pregunta.examen.id})}} " > 
       <button id="finPrevRespuesta" type="submit" class="btn btn-info" >Finalizar</button>
   </form>
      
</section>




{% endblock %} 



{% block javascripts %}
<script src="{{ asset('bundles/estudiante/js/jquery2.1.1.js') }}"></script>
<script src="{{ asset('bundles/estudiante/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="{{ asset('bundles/profesor/js/dialogo.js') }}"></script>
<script src="{{ asset('bundles/profesor/js/respuestaFunctions.js') }}"></script>
<script> 

    $(document).ready(function(){
      var valor;
       $("#recuadroPrevRespuestas li span").each(function(){
          valor= $(this).text();
          $(this).html(valor);
          $(this).css("visibility", "visible");
          $("div").css("visibility", "visible");
          
          //alert(valor);
           
       });   
       
      var p = $("#pregunta").text();
      $("#pregunta").html(p);
      $("#pregunta").css("visibility", "visible");
        var n = $("#nota").text();
      $("#nota").html('Nota: '+n);
      $("#nota").css("visibility", "visible");
      
     
      
});

</script>


{% endblock %}

